section.desktop.page1-desktop.section
    .link-for-deskto#1
    img(src="image/clothe1.png", alt="cloth").desktop1__cloth1
    img(src="image/clothe2.png", alt="cloth").desktop1__cloth2
    img(src="image/clothe3.png", alt="cloth").desktop1__cloth3
    //include header
    .content-desktop

        .desktop1_content
            .desktop1__title
                .desktop1__title1 ОЧЕНЬ НУЖНАЯ
                .desktop1__title2 КОРОБКА
            .striped-line ....................
            .desktop1__box-photo
                img(src="image/Box.png", alt="image-box").desktop1__image
            .striped-line ....................
            .desktop1__description
                img(src="image/clotheBird.png",alt="clotheBird").desktop1__description__image
                .desktop1__description__text.
                    Весь удивительный мир может поместиться в
                    одной коробке, когда у тебя есть воображение
                    и веселый товарищ по играм! Коробка CHIKCHIRIK
                     содержит много ценных вещей для развития талантов
                      вашего малыша и несколько часов безмятежности
                      лично для Вас.

    a(href="#about",data-index="2").js_link_page2
         button.desktop1_learn-more УЗНАТЬ БОЛЬШЕ
            img(src="image/magnifying-glass.png", alt="glass").learn-more-glass
    a(href="#about",data-index="2", class="learn-more__arrow_link").js_link_page2
        .desktop1_learn-more__arrow
            img(src="image/arrow-down.png", alt="arrow_down")
            img(src="image/arrow-down.png", alt="arrow_down")
            img(src="image/arrow-down.png", alt="arrow_down")

   // include footer
