section.desktop.background-orange.section
    .link-for-deskto#2

    .content-desktop.content-desktop_page2
        .image_logo_desktop2
            img(src="image/box_page2.png", alt="box_game").image_desktop2
        .desktop_page2_main-text
            .desktop_page2_main_block1
                .page2_main_block1-title1
                    img(src="image/bird_on_word.png",alt="bird_on_word").page2_bird_on_word
                    |САМОЕ ВРЕМЯ
                .page2_main_block1-title2
                    | ИГРАТЬ
            .desktop_page2_main_block2.
                От 3 до 7 лет - самый классный возраст,
                 спать уже не хочется, а в школу еще не пора!
                  Мы хотим, чтобы у каждого ребенка было детство
                   с настоящими сокровищами из безделушек, радости и любви.
            .desktop_page2_main_block3
                .page2_main_block3_text1.
                    У взрослых вечно нет времени на детские игры?
                    И не надо, потому что коробка
                    CHIKCHIRIK даже самых взрослых
                    превращает в детей и заново знакомит с миром.
                .page2_main_block3_text2.
                    «Ах, если бы родители могли представить,
                    как они надоедают своим детям!» - шутил Бернард Шоу.
                     Или не шутил? Коробки CHIKCHIRIK хватит на самую
                     большую дружную семью.


   // include footer
