.desktop.background-orange
    .link-for-deskto#desktop-page2
        //header
    header.header
        img(src="image/logoWhite.png",alt="logo").header_logo
        .header_nav
            a(href="#desktop-page1")
                .header_nav-text Главная
            a(href="#desktop-page2")
                .header_nav-text.active О нас
            a(href="#desktop-page3")
                .header_nav-text А что внутри?
            a(href="#desktop-page4")
                .header_nav-text На связи
        .header_navigation-block
            .header__coins
                img(src="image/insert-coin.png",alt="coins").header__coins_image
                button.header__coins_button.color_blue КУПИТЬ
            .header__icons
                a(href="")
                    .header_nav-text Бложек
                a(href="")
                    img(src="image/facebook.png",alt="facebook-logo").header_nav__icon.first-icon
                a(href="")
                    img(src="image/instagram.png",alt="instagram-logo").header_nav__icon
                a(href="")
                    img(src="image/mail.png",alt="mail-logo").header_nav__icon
            //header end
    .content-desktop.content-desktop_page2
        .image_logo_desktop2
            img(src="image/box_page2.png", alt="box_game").image_desktop2
        .desktop_page2_main-text
            .desktop_page2_main_block1
                .page2_main_block1-title1
                    img(src="image/bird_on_word.png",alt="bird_on_word").page2_bird_on_word
                    |LOREM IPSUM
                .page2_main_block1-title2
                    | SIT AMET
            .desktop_page2_main_block2.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquam et lectus et leo venenatis mollis eget eget justo.
                 Praesent tristique lacus eget orci sodales, o venenatis
                 mollis eget eget justo. Praesent tristique lacus eget orci
                  sodales,
            .desktop_page2_main_block3
                .page2_main_block3_text1.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     Aliquam et lectus et leo venenatis mollis eget eget justo.
                     Praesent tristique lacus eget orci sodales,
                .page2_main_block3_text2.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     Aliquam et lectus et leo venenatis mollis eget eget justo.
                      Praesent tristique lacus eget orci sodales,


    include footer
