section.desktop
    img(src="image/Box.png", alt="box").page3_box



    img(src="image/page3_arrow-right.png", alt="arrow-right").page3_arrow.page3_arrow-right
    img(src="image/page3_arrow-left.png", alt="arrow-left").page3_arrow.page3_arrow-left
    .link-for-deskto#3
        //header start
    //header.header
    //    img(src="image/logovector.png",alt="logo").header_logo
    //    .header_nav
    //        a(href="#1",data-index="1")
    //            .header_nav-text Главная
    //        a(href="#2",data-index="2")
    //            .header_nav-text О нас
    //        a(href="#3",data-index="3")
    //            .header_nav-text.active А что внутри?
    //        a(href="#4",data-index="4")
    //            .header_nav-text На связи
    //    .header_navigation-block
    //        .header__coins
    //            img(src="image/insert-coin.png",alt="coins").header__coins_image
    //            button.header__coins_button
    //                .hover__button КУПИТЬ
    //        .header__icons
    //            a(href="")
    //                .header_nav-text Бложек
    //            a(href="https://www.facebook.com/chikchirikkids/", target="_blank")
    //                .header_nav__icon.header_nav__icon-fb.first-icon
    //            a(href="https://www.instagram.com/chikchirikkids/",target="_blank")
    //                .header_nav__icon.header_nav__icon-instagram
    //            a(href="mailto:CHIKCHIRIKKIDS@GMAIL.COM", target="_blank")
    //                .header_nav__icon.header_nav__icon-mail
            //header end
    .content-desktop.desktop-page3
        img(src="image/page3_dotedLeft.png", alt="box").page3_dotatedLeft
        img(src="image/page3_dotedCenter.png", alt="box").page3_dotatedCenter
        img(src="image/page3_dotedRight.png", alt="box").page3_dotatedRight

        .page3_content
            .page3_content_absoluteBlock.cloud_absolute_left
                .block-cloud.block-cloud1
                    .page3_block-description.page3_lamp-text
                        .block-description_title1 1ТВОРЧЕСКАЯ
                        .block-description_title2 ЗАДАНИЯ

            .page3_content_absoluteBlock.cloud_absolute_center
                .block-cloud.block-cloud2
                    .page3_block-description.page3_book-text
                        .block-description_title1 2РАЗВИВАЮЩИЕ
                        .block-description_title2 КНИГИ


            .page3_content_absoluteBlock.cloud_absolute_right
                .block-cloud.block-cloud3
                    .page3_block-description.page3_flower-text
                        .block-description_title1 3РАСТЕНИЯ
                        .block-description_title2 ИГРУШКИ

            .page3_content_absoluteBlock.cloud_absolute_out_right
                .block-cloud.block-cloud1
                    .page3_block-description.page3_lamp-text
                        .block-description_title1 4ТВОРЧЕСКАЯ
                        .block-description_title2 ЗАДАНИЯ


            .page3_content_absoluteBlock.cloud_absolute_out_left
                .block-cloud.block-cloud2
                    .page3_block-description.page3_book-text
                        .block-description_title1 5РАЗВИВАЮЩИЕ
                        .block-description_title2 КНИГИ

            .page3_content_absoluteBlock
                .block-cloud.block-cloud1
                    .page3_block-description.page3_lamp-text
                        .block-description_title1 6ТВОРЧЕСКАЯ
                        .block-description_title2 ЗАДАНИЯ





   // include footer
