.desktop
    .link-for-deskto#desktop-page3
        //header start
    header.header
        img(src="image/logovector.png",alt="logo").header_logo
        .header_nav
            a(href="#desktop-page1")
                .header_nav-text Главная
            a(href="#desktop-page2")
                .header_nav-text О нас
            a(href="#desktop-page3")
                .header_nav-text.active А что внутри?
            a(href="#desktop-page4")
                .header_nav-text На связи
        .header_navigation-block
            .header__coins
                img(src="image/insert-coin.png",alt="coins").header__coins_image
                button.header__coins_button КУПИТЬ
            .header__icons
                a(href="")
                    .header_nav-text Бложек
                a(href="")
                    img(src="image/facebook.png",alt="facebook-logo").header_nav__icon.first-icon
                a(href="")
                    img(src="image/instagram.png",alt="instagram-logo").header_nav__icon
                a(href="")
                    img(src="image/mail.png",alt="mail-logo").header_nav__icon
            //header end
    .content-desktop.desktop-page3
        img(src="image/page3_arrow-right.png", alt="arrow-right").page3_arrow.page3_arrow-right
        img(src="image/page3_arrow-left.png", alt="arrow-left").page3_arrow.page3_arrow-left
        img(src="image/box.png", alt="box").page3_box
        .page3_content
            .block-cloud.block-cloud1
                .page3_block-description.page3_lamp-text
                    .block-description_title1 ТВОРЧЕСКАЯ
                    .block-description_title2 ЗАДАНИЯ


            .block-cloud.block-cloud2
                .page3_block-description.page3_book-text
                    .block-description_title1 РАЗВИВАЮЩИЕ
                    .block-description_title2 КНИГИ



            .block-cloud.block-cloud3
                .page3_block-description.page3_flower-text
                    .block-description_title1 РАСТЕНИЯ
                    .block-description_title2 ИГРУШКИ




    include footer
