section.desktop.background-orange.page4_background.section
    .link-for-deskto#4
    img(src="image/page4_tree.png",alt="tree&cloud").page4-tree_cloud


    .content-desktop.content-desktop_page4
        .page4_menu-item
            .page4_menu-title.page4_menu-title_activ ЦЕНА
            .page4_menu-text.page4_menu-text_activ.
                Очень Нужная Коробка стоит 549 грн.
                Вы можете оплатить ее наличными курьеру,
                 наложенным платежом (плюс 2% к цене) или с
                 помощью карты «Приват Банка» - как вам будет удобнее
        .page4_menu-item
            .page4_menu-title ДОСТАВКА
            .page4_menu-text.
                Мы хотим, чтобы Очень Нужная Коробка оказалась у вас как можно быстрее!
                 Поэтому у нас есть курьерская доставка по Киеву (стоимость 35 грн),
                  а также вы можете заказать доставку куда угодно «Новой Почтой»,
                   «Укрпочтой» или забрать Коробку самостоятельно в офисе CHIKCHIRIK
                   по адресу г. Киев ул. Сечевых Стрельцов, 14а.
        .page4_menu-item
            .page4_menu-title ЧТО ВНУТРИ?
            .page4_menu-text.
                В Очень Нужной Коробке много заботы и кропотливого труда,
                 а еще: 5-7 творческих заданий, 5-7 логических заданий,
                  интерактивная книга и логическая игра, раскраски с
                  карандашами, квест-гуляйка, классная игрушка и
                   полезные сюрпризы для всей семьи. Ну и конечно,
                    здесь есть все необходимые материалы для творчества.
        .page4_menu-item
            .page4_menu-title ЧЕГО В КОРОБКЕ НЕТ?
            .page4_menu-text.
                Ножниц в ней нет! Потому что ножницы опасные, а наша
                Коробка – не только очень нужная, но и очень безопасная,
                 чтобы ребенок мог открыть ее сам.
        .page4_menu-item
            .page4_menu-title СЕРТИФИКАЦИЯ И АВТОРСКОЕ ПРАВО
            .page4_menu-text.
                Вся продукция CHIKCHIRIK имеет сертификат безопасности МОЗ Украины. Авторские методические разработки заданий защищены согласно законодательству Украины.
        .page4_menu-item
            .page4_menu-title РЕКОМЕНДОВАННЫЙ ВОЗРАСТ
            .page4_menu-text.
                Мы протестировали коробку CHIKCHIRIK с детками
                 от 1,5 до 10 лет и, по наблюдениям наших методистов,
                  больше всего вовлеклись в творческий процесс с нашими
                   заданиями детки в возрасте от 3 до 8 лет.
        .page4_menu-item
            .page4_menu-title КАК ЗАКАЗАТЬ
            .page4_menu-text.page4_menu-text_widthSmall.
                Мы можете заказать Очень Нужную Коробку
                прямо сейчас на сайте - для этого нажмите
                 на кнопку «Купить» и заполните форму! Также
                 вы можете позвонить и заказать коробку CHIKCHIRIK по
                  телефонам <a href="tel:+380663873203">+38(066) 387 32 03</a>,<a href="tel:+380679962991"> +38 (067) 996 29 91</a>,
                   <a href="tel:+380442092552">+38(044) 209 25 52</a>
   // include footer
