section.desktop
    .link-for-deskto#5
    //include header
    .content-desktop.content-desktop_page5
        .page5_info
            .page5_info_cloud-phone
                a(href="tel:+380663873203")
                     .info_cloud-phone_number +38 066 387 32 03
                a(href="tel:+380679962991")
                    .info_cloud-phone_number +38 067 996 29 91
                a(href="tel:0442092552")
                     .info_cloud-phone_numberMain (044) 209 25 52
                //img(src="image/page5_comp_cloud.png",alt="cloud")
            .page5_info_cloud-comp
                .info_cloud-comp_public
                    a(href="https://www.facebook.com/chikchirikkids/",target="_blank")
                        .comp_public_name FACEBOOK
                    .comp_public_point .
                    a(href="https://www.instagram.com/chikchirikkids/",target="_blank")
                        .comp_public_name INSTAGRAM
                a(href="mailto:CHIKCHIRIKKIDS@GMAIL.COM", target="_blank")
                     .info_cloud-comp_mail CHIKCHIRIKKIDS@GMAIL.COM

                //img(src="image/page5_cloudPhone.png",alt="cloud")

        .page5_map
            .page5_map_background
            .page5_map_mark.mark1
                img(src="image/page5_miniLogo.png",alt="mark1")
                .page5_map_mark1_adress
                    .text1 антошка
                    .text2 ул. воздвиженска 9-19
            .page5_map_mark.mark2
                img(src="image/page5_miniLogo.png",alt="mark2")
                .page5_map_mark1_adress
                    .text1 библиотека botan
                    .text2 ул. воздвиженска 9-19
            .page5_map_mark.mark3
                img(src="image/page5_miniLogo.png",alt="mark3")
                .page5_map_mark1_adress
                    .text1 хармс
                    .text2 ул. воздвиженска 9-19

            //.page5_map_background_blur_blue
            //img(src="image/page5_maps_adress.png",alt="maps").page5_maps_adress_image


            //footer.footer.page5-footer_absolute
            //    .footer-text1.
            //        © 2016 chikchirik tm
            //    .footer-text2
            //        .footer-text2_ExtraBold KZMR
            //        .footer-text2_MullerRegular Prod.




