section.desktop.background-orange
    .link-for-deskto#2
    img(src="../image/blog2pageCloud1.png", alt="cloud1").blog2pageImageCloud1
    img(src="../image/blog2pageCloud2.png", alt="cloud2").blog2pageImageCloud2
    img(src="../image/blog2pageTreeCloud.png", alt="TreeCloud").blog2pageImageTreeCloud
    img(src="../image/blog2pageTree.png", alt="tree").blog2pageImageTree
    .block_for_arrow
        img(src="../image/page3_arrow-left.png", alt="arrow-left").blogPage2_arrow.blogPage2_arrow-left
        img(src="../image/page3_arrow-right.png", alt="arrow-right").blogPage2_arrow.blogPage2_arrow-right
    .link-for-deskto#3

    .content-desktop.desktop-page3

        .page3_content
            .page3_content_absoluteBlock.cloud_absolute_left
                .block-cloud.block-cloud1
                    .page3_block-description.page3_lamp-text
                        .block-description_title1 1ТВОРЧЕСКАЯ
                        .block-description_title2 ЗАДАНИЯ

            .page3_content_absoluteBlock.cloud_absolute_center
                .block-cloud.block-cloud2
                    .page3_block-description.page3_book-text
                        .block-description_title1 2РАЗВИВАЮЩИЕ
                        .block-description_title2 КНИГИ


            .page3_content_absoluteBlock.cloud_absolute_right
                .block-cloud.block-cloud3
                    .page3_block-description.page3_flower-text
                        .block-description_title1 3РАСТЕНИЯ
                        .block-description_title2 ИГРУШКИ

            .page3_content_absoluteBlock
                .block-cloud.block-cloud1
                    .page3_block-description.page3_lamp-text
                        .block-description_title1 4ТВОРЧЕСКАЯ
                        .block-description_title2 ЗАДАНИЯ


            .page3_content_absoluteBlock
                .block-cloud.block-cloud2
                    .page3_block-description.page3_book-text
                        .block-description_title1 5РАЗВИВАЮЩИЕ
                        .block-description_title2 КНИГИ

            .page3_content_absoluteBlock
                .block-cloud.block-cloud1
                    .page3_block-description.page3_lamp-text
                        .block-description_title1 6ТВОРЧЕСКАЯ
                        .block-description_title2 ЗАДАНИЯ





// include footer
