section.desktop.page1-desktop.section.pageBuySection
    .link-for-deskto#1
    img(src="../image/blogCloud1.png", alt="cloth").blogDesktop1__cloth1
    img(src="../image/blogCloud2.png", alt="cloth").blogDesktop1__cloth2
    .content-desktop
        .desktop1_content
            .desktop1__title.blogDesktop1_title.buyPageDesktop1_title
                .desktop1__title1 ДАЙТЕ МНЕ
                .desktop1__title2 КОРОБКУ
                .blogDesktop1__title3.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aliquam et lectus et leo venenatis mollis eget eget justo.
                     Praesent tristique lacus eget orci sodales, vitae
                .textInLine
                    .textThink Стоимость коробочки
                    .textThink.dashDescription   -
                    .textBold 549 ГРН
            .striped-line.stripedLineBlog ....................


            .desktop1__box-photo
                img(src="../image/Box.png", alt="image-box").blogPage1__image
            .striped-line.stripedLineBlog ....................
            form(action="", method="post").blogBlogForm

                input(type='text', name='name', placeholder='ВАШЕ ИМЯ').inputName.textInput.js_inputName
                .block2Input
                    input(type='text', name='telephone', placeholder='НОМЕР ТЕЛЕФОНА').inputTelephone.textInput.js_phoneNumber
                    input(type='text', name='mail', placeholder='EMAIL').inputEmail.textInput.js_inputEmail
                    .validateIcon
                    .writeData  Заполните все поля
                .columnDelivery
                    .columnType.js_payMethod СПОСОБ ОПЛАТЫ
                        .inlineInput
                            input(type="radio", name="typePay", value="cash",id="InputCash").styleRadioBatton.js_cashCurier
                            .dottedInput ..........
                            label(for="InputCash").nameInput.js_cashCurier Наличными курьеру
                        .inlineInput
                            input(type="radio", name="typePay", value="cod",id="InputCod").styleRadioBatton.js_codPay
                            .dottedInput ..........
                            label(for="InputCod").nameInput.js_codPay Наложенным платежем
                        .inlineInput
                            input(type="radio", name="typePay", value="card",id="InputCard",checked="checked").styleRadioBatton.js_payCard
                            .dottedInput ..........
                            label(for="InputCard").nameInput.js_payCard Оплатить картой

                    .columnTypejs_deliveryMeyhod СПОСОБ ДОСАВКИ
                        .inlineInput.js_deliveryCurierKiev
                            input(type="radio", name="typeDelivery", value="curier",id="curier",checked="checked").styleRadioBatton.js_input_deliveryCurierKiev
                            .dottedInput ..........
                            label(for="curier").nameInput.nameInput_width Курьером по Киеву
                        .inlineInput.js_deliveryNewPost
                            input(type="radio", name="typeDelivery", value="newPost",id="newPost").styleRadioBatton.js_input_deliveryNewPost
                            .dottedInput ..........
                            label(for="newPost").nameInput.nameInput_width "Новой Почтой"
                        .inlineInput.js_pickUp
                            input(type="radio", name="typeDelivery", value="pickUp",id="pickUp").styleRadioBatton.js_input_pickUp
                            .dottedInput ..........
                            label(for="pickUp").nameInput.nameInput_width Самовывоз

                .block_thanks.js_block_thanks Благодарим за покупку!!








        button.blogDesktop1Button.buttonBuyPage.js_buttonBuy НУ ДАВАЙТЕ ЖЕ
            img(src="../image/blogKassa.png", alt="kassa").kassa_image-button

