header.header
    img(src="../image/logovector.png",alt="logo").header_logo
    .header_nav
        a(href="../index.php#main",data-index="1")
            .header_nav-text Главная
        a(href="../index.php#about",data-index="2")
            .header_nav-text О нас
        a(href="../index.php#box",data-index="3")
            .header_nav-text А что внутри?
        a(href="../index.php#details",data-index="4")
            .header_nav-text Детали
        a(href="../index.php#contacts",data-index="4")
            .header_nav-text Контакты
    .header_navigation-block
        .header__coins
            img(src="../image/insert-coin.png",alt="coins").header__coins_image
            a(href="buypage.php")
                button.header__coins_button
                    .hover__button КУПИТЬ
        .header__icons
            a(href="blog.php")
                .header_nav-text.active Бложек
            a(href="https://www.facebook.com/chikchirikkids/", target="_blank")
                .header_nav__icon.header_nav__icon-fb.first-icon
            a(href="https://www.instagram.com/chikchirikkids/",target="_blank")
                .header_nav__icon.header_nav__icon-instagram
            a(href="mailto:CHIKCHIRIKKIDS@GMAIL.COM", target="_blank")
                .header_nav__icon.header_nav__icon-mail
