header.header
    img(src="image/logovector.png",alt="logo").header_logo
    .header_nav
        a(href="")
            .header_nav-text.active Главная
        a(href="")
            .header_nav-text О нас
        a(href="")
            .header_nav-text А что внутри?
        a(href="")
            .header_nav-text На связи
    .header__coins
        img(src="image/insert-coin.png",alt="coins").header__coins_image
        button.header__coins_button Купить
    .header__icons
        a(href="")
            .header_nav-text На связи
        a(href="")
            img(src="image/facebook.png",alt="facebook-logo").header_nav__icon.first-icon
        a(href="")
             img(src="image/instagram.png",alt="instagram-logo").header_nav__icon
        a(href="")
            img(src="image/mail.png",alt="mail-logo").header_nav__icon
