header.header
    img(src="image/logoWhite.png",alt="logo").header_logo
    .header_nav
        a(href="#1",data-index="1")
            .header_nav-text.active Главная
        a(href="#2",data-index="2")
            .header_nav-text О нас
        a(href="#3",data-index="3")
            .header_nav-text А что внутри?
        a(href="#4",data-index="4")
            .header_nav-text На связи
    .header_navigation-block
        .header__coins
            img(src="image/insert-coin.png",alt="coins").header__coins_image
            a(href="page/buypage.php")
                button.header__coins_button.color_blue
                    .hover__button КУПИТЬ
        .header__icons
            a(href="page/blog.php")
                .header_nav-text Бложек
            a(href="https://www.facebook.com/chikchirikkids/", target="_blank")
                img(src="image/facebook.png",alt="facebook-logo").header_nav__icon.first-icon
            a(href="https://www.instagram.com/chikchirikkids/",target="_blank")
                 img(src="image/instagram.png",alt="instagram-logo").header_nav__icon
            a(href="mailto:CHIKCHIRIKKIDS@GMAIL.COM", target="_blank")
                img(src="image/mail.png",alt="mail-logo").header_nav__icon
