header.header
    img(src="image/logovector.png",alt="logo").header_logo
    .header_nav
        a(href="#main",data-index="1")
            .header_nav-text.active Главная
        a(href="#about",data-index="2")
            .header_nav-text О нас
        a(href="#box",data-index="3")
            .header_nav-text А что внутри?
        a(href="#details",data-index="4")
            .header_nav-text Детали
        a(href="#contacts",data-index="4")
            .header_nav-text Контакты
    .header_navigation-block
        .header__coins
            img(src="image/insert-coin.png",alt="coins").header__coins_image
            a(href="page/buypage.php")
                button.header__coins_button
                    .hover__button КУПИТЬ
        .header__icons
            a(href="page/blog.php").dispaly_none
                .header_nav-text Бложек
            a(href="https://www.facebook.com/chikchirikkids/", target="_blank")
                .header_nav__icon.header_nav__icon-fb.first-icon
            a(href="https://www.instagram.com/chikchirikkids/",target="_blank")
                .header_nav__icon.header_nav__icon-instagram
            a(href="mailto:CHIKCHIRIKKIDS@GMAIL.COM", target="_blank")
                .header_nav__icon.header_nav__icon-mail
