include add/_mixin

doctype HTML
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport"  content="width=device-width, initial-scale=1.0")
        meta( http-equiv="X-UA-Compatible", content="IE=edge")
        meta( name="keywords", content="loft")
        meta( name="author", content="SanMal")
        meta(name="description", content="chik-chirik")
        //link(el="shorcut icon" href="../favicon.ico" type="image/x-icon")
        //link(rel="icon" href="../favicon.ico" type="image/x-icon")
        title Chik-Chirik
        link(rel="stylesheet" href="css/main.css")
        block head

    body
        include add/1desktop
        include add/2desktop
        include add/3desktop
        include add/4desktop
        include add/5desktop
    script(src="js/jquery.js", type="text/javascript")
    script(src="js/main.js", type="text/javascript")






