include add/_mixin

doctype HTML
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport"  content="width=device-width, initial-scale=1.0")
        meta( http-equiv="X-UA-Compatible", content="IE=edge")
        meta( name="keywords", content="loft")
        meta( name="author", content="SanMal")
        meta(name="description", content="chik-chirik")
        //link(href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAGr/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEREQAAAAAREREREQAAAREREREREAARERERERERABEREREREREBEREREREREREREREREREREREREREREREREREREREREREREREREREREREREREREREQEREREREREQARERERERERAAERERERERAAABERERERAAAAABEREQAAD4HwAA4AcAAMADAACAAQAAgAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIABAACAAQAAwAMAAOAHAAD4HwAA", rel="icon", type="image/x-icon")
        //link(el="shorcut icon" href="../favicon.ico" type="image/x-icon")
        //link(rel="icon" href="../favicon.ico" type="image/x-icon")
        title CHIKCHIRIK
        script(src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyD1_ZgpT_JgXur3T9yV4BShz19Dj4I97cY")
        link(rel="stylesheet" href="css/main.css")
        block head

    body
        include add/header

        #fullpage


            include add/1desktop
            include add/2desktop
            include add/3desktop
            include add/4desktop
            include add/5desktop
        include add/footer


    script(src="js/jquery.js", type="text/javascript")
    script(src="js/main.js", type="text/javascript")
    //script(src="js/scrolloverflow.js", type="text/javascript")
    //script(src="js/jquery.fullPage.js", type="text/javascript")
    //script(src="js/examples.js", type="text/javascript")






