section.desktop.section
    img(src="image/Box.png", alt="box").page3_box
    img(src="image/page3_dotedLeft.png", alt="box").page3_dotatedLeft
    img(src="image/page3_dotedCenter.png", alt="box").page3_dotatedCenter
    img(src="image/page3_dotedRight.png", alt="box").page3_dotatedRight



    img(src="image/page3_arrow-right.png", alt="arrow-right").page3_arrow.page3_arrow-right
    img(src="image/page3_arrow-left.png", alt="arrow-left").page3_arrow.page3_arrow-left
    .link-for-deskto#3

    .content-desktop.desktop-page3


        .page3_content
            .page3_content_absoluteBlock.cloud_absolute_left
                .block-cloud.block-cloud1

                    .page3_block-description.page3_lamp-text
                        .block-description_title1 1ТВОРЧЕСКАЯ
                        .block-description_title2 ЗАДАНИЯ


            .page3_content_absoluteBlock.cloud_absolute_center
                .block-cloud.block-cloud2
                    .page3_block-description.page3_book-text
                        .block-description_title1 2РАЗВИВАЮЩИЕ
                        .block-description_title2 КНИГИ


            .page3_content_absoluteBlock.cloud_absolute_right
                .block-cloud.block-cloud3
                    .page3_block-description.page3_flower-text
                        .block-description_title1 3РАСТЕНИЯ
                        .block-description_title2 ИГРУШКИ

            .page3_content_absoluteBlock
                .block-cloud.block-cloud1
                    .page3_block-description.page3_lamp-text
                        .block-description_title1 4ТВОРЧЕСКАЯ
                        .block-description_title2 ЗАДАНИЯ


            .page3_content_absoluteBlock
                .block-cloud.block-cloud2
                    .page3_block-description.page3_book-text
                        .block-description_title1 5РАЗВИВАЮЩИЕ
                        .block-description_title2 КНИГИ

            .page3_content_absoluteBlock
                .block-cloud.block-cloud1
                    .page3_block-description.page3_lamp-text
                        .block-description_title1 6ТВОРЧЕСКАЯ
                        .block-description_title2 ЗАДАНИЯ





   // include footer
