section.desktop.background-orange.page4_background.section
    .link-for-deskto#4
    img(src="image/page4_tree.png",alt="tree&cloud").page4-tree_cloud


    .content-desktop.content-desktop_page4
        .page4_menu-item
            .page4_menu-title.page4_menu-title_activ ЦЕНА
            .page4_menu-text.page4_menu-text_activ.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                 Aliquam et lectus et leo venenatis mollis eget eget justo.
                  Praesent tristique lacus eget orci sodales,Lorem ipsum
                  dolor sit amet, consectetur adipiscing elit.
                  Aliquam et lectus et leo venenatis mollis eget eget justo.
                   Praesent tristique lacus eget orci sodales,
        .page4_menu-item
            .page4_menu-title ДОСТАВКА
            .page4_menu-text.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquam et lectus et leo venenatis mollis eget eget justo.
                  Praesent tristique lacus eget orci sodales,Lorem ipsum
                 dolor sit amet, consectetur adipiscing elit.
                 Aliquam et lectus et leo venenatis mollis eget eget justo.
                  Praes  ent tristique lacus eget orci sodales,
        .page4_menu-item
            .page4_menu-title СОДЕРЖАНИЕ
            .page4_menu-text.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquam et lectus et leo venenatis mollis eget eget justo.
                Praesent tristique lacus eget orci sodales,Lorem ipsum
                dolor sit amet, consectetur adipiscing elit.
                Aliquam et lectus et leo venenatis mollis eget eget justo.
                Praesent tristique lacus eget orci sodales,
        .page4_menu-item
            .page4_menu-title ЕЩЕ ЧТО ТО
            .page4_menu-text.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquam et lectus et leo venenatis mollis eget eget justo.
                Praesent tristique lacus eget orci sodales,Lorem ipsum
                dolor sit amet, consectetur adipiscing elit.
                Aliquam et lectus et leo venenatis mollis eget eget justo.
                Praesent tristique lacus eget orci sodales,
        .page4_menu-item
            .page4_menu-title ГДЕ КУПИТЬ?
            .page4_menu-text.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquam et lectus et leo venenatis mollis eget eget justo.
                Praesent tristique lacus eget orci sodales,Lorem ipsum
                dolor sit amet, consectetur adipiscing elit.
                Aliquam et lectus et leo venenatis mollis eget eget justo.
                Praesent tristique lacus eget orci sodales,




   // include footer
