section.desktop.section#dispalyFlex
    .link-for-deskto#5
    //include header
    .content-desktop.content-desktop_page5
        .page5_info
            .page5_info_cloud-phone
                a(href="tel:+380663873203")
                     .info_cloud-phone_number +38 066 387 32 03
                a(href="tel:+380679962991")
                    .info_cloud-phone_number +38 067 996 29 91
                a(href="tel:0442092552")
                     .info_cloud-phone_numberMain (044) 209 25 52
                //img(src="image/page5_comp_cloud.png",alt="cloud")
            .page5_info_cloud-comp
                .info_cloud-comp_public
                    a(href="https://www.facebook.com/chikchirikkids/",target="_blank")
                        .comp_public_name FACEBOOK
                    .comp_public_point .
                    a(href="https://www.instagram.com/chikchirikkids/",target="_blank")
                        .comp_public_name INSTAGRAM
                a(href="mailto:CHIKCHIRIKKIDS@GMAIL.COM", target="_blank")
                     .info_cloud-comp_mail CHIKCHIRIKKIDS@GMAIL.COM

                //img(src="image/page5_cloudPhone.png",alt="cloud")

        .page5_map
            .page5_map_background
                iframe( src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d17092.360825962336!2d30.528379551197098!3d50.444925730503236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1475316317530",frameborder="0", style="border:0", allowfullscreen)
            .page5_map_mark.mark1
                img(src="image/page5_miniLogo.png",alt="mark1")
                a(href="https://www.google.ru/maps/place/%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F+%D0%92%D0%BE%D0%B7%D0%B4%D0%B2%D0%B8%D0%B6%D0%B5%D0%BD%D1%81%D1%8C%D0%BA%D0%B0,+9-12,+%D0%9A%D0%B8%D1%97%D0%B2,+%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%B0/@50.4646379,30.5044589,14.5z/data=!4m5!3m4!1s0x40d4ce69c6c7a9f3:0x3400f28d81a7c506!8m2!3d50.461168!4d30.51004?hl=ru",target="_blank")
                    .page5_map_mark1_adress
                        .text1 антошка
                        .text2 ул. воздвиженска 9-19
            .page5_map_mark.mark2
                img(src="image/page5_miniLogo.png",alt="mark2")
                a(href="")
                    .page5_map_mark1_adress
                        .text1 библиотека botan
                        .text2 ул. воздвиженска 9-19
            .page5_map_mark.mark3
                img(src="image/page5_miniLogo.png",alt="mark3")
                a(href="")
                    .page5_map_mark1_adress
                        .text1 хармс
                        .text2 ул. воздвиженска 9-19

            //.page5_map_background_blur_blue
            //img(src="image/page5_maps_adress.png",alt="maps").page5_maps_adress_image


            //footer.footer.page5-footer_absolute
            //    .footer-text1.
            //        © 2016 chikchirik tm
            //    .footer-text2
            //        .footer-text2_ExtraBold KZMR
            //        .footer-text2_MullerRegular Prod.




