section.desktop.background-orange.section
    .link-for-deskto#2
    img(src="../image/blog2pageCloud1.png", alt="cloud1").blog2pageImageCloud1
    img(src="../image/blog2pageCloud2.png", alt="cloud2").blog2pageImageCloud2
    img(src="../image/blog2pageTreeCloud.png", alt="TreeCloud").blog2pageImageTreeCloud
    img(src="../image/blog2pageTree.png", alt="tree").blog2pageImageTree
    .block_for_arrow
        img(src="../image/page3_arrow-left.png", alt="arrow-left").blogPage2_arrow.blogPage2_arrow-left
        img(src="../image/page3_arrow-right.png", alt="arrow-right").blogPage2_arrow.blogPage2_arrow-right
    .link-for-deskto#3

    .content-desktop.blog2page_content

        .page3_content.blog2page_block-clouds
            .blog2page_content_absoluteBlock.blog2page_cloud_absolute_left
                .blockBlog_content
                    .blogContentImage
                        img(src="../image/blog2pageCloudImage1.png", alt="cloud1").blogCloudPhoto1
                    .blogMaintext
                        .blogDate 17.09.2016
                        .blogDotted
                            img(src="../image/blogPage2Dotted.png", alt="dotted")
                        .blogText
                            .blogTitle 1 ОЧЕНЬ ДЛИННЫЙ ЗАГОЛОВОК
                            .blogDescriptio.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Aliquam et lectus et leo venenatis mollis eget eget justo. P.

                    .blockButton
                        button.buttonRead ЧИТАТЬ
                            img(src="../image/blog2pageBook.png", alt="book").imageFofButton_Book



            .blog2page_content_absoluteBlock.blog2page_cloud_absolute_center
                .blockBlog_content
                    .blogContentImage
                        img(src="../image/blog2pageCloudImage2.png", alt="cloud1").blogCloudPhoto1
                    .blogMaintext
                        .blogDate 17.09.2016
                        .blogDotted
                            img(src="../image/blogPage2Dotted.png", alt="dotted")
                        .blogText
                            .blogTitle 2 ОЧЕНЬ ДЛИННЫЙ ЗАГОЛОВОК
                            .blogDescriptio.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Aliquam et lectus et leo venenatis mollis eget eget justo. P.

                    .blockButton
                        button.buttonRead ЧИТАТЬ
                            img(src="../image/blog2pageBook.png", alt="book").imageFofButton_Book




            .blog2page_content_absoluteBlock.blog2page_cloud_absolute_right
                .blockBlog_content
                    .blogContentImage
                        img(src="../image/blog2pageCloudImage3.png", alt="cloud1").blogCloudPhoto1
                    .blogMaintext
                        .blogDate 17.09.2016
                        .blogDotted
                            img(src="../image/blogPage2Dotted.png", alt="dotted")
                        .blogText
                            .blogTitle 3 ОЧЕНЬ ДЛИННЫЙ ЗАГОЛОВОК
                            .blogDescriptio.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Aliquam et lectus et leo venenatis mollis eget eget justo. P.

                    .blockButton
                        button.buttonRead ЧИТАТЬ
                            img(src="../image/blog2pageBook.png", alt="book").imageFofButton_Book




            .blog2page_content_absoluteBlock
                .blockBlog_content
                    .blogContentImage
                        img(src="../image/blog2pageCloudImage1.png", alt="cloud1").blogCloudPhoto1
                    .blogMaintext
                        .blogDate 17.09.2016
                        .blogDotted
                            img(src="../image/blogPage2Dotted.png", alt="dotted")
                        .blogText
                            .blogTitle 4 ОЧЕНЬ ДЛИННЫЙ ЗАГОЛОВОК
                            .blogDescriptio.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Aliquam et lectus et leo venenatis mollis eget eget justo. P.

                    .blockButton
                        button.buttonRead ЧИТАТЬ
                            img(src="../image/blog2pageBook.png", alt="book").imageFofButton_Book




            .blog2page_content_absoluteBlock
                .blockBlog_content
                    .blogContentImage
                        img(src="../image/blog2pageCloudImage2.png", alt="cloud1").blogCloudPhoto1
                    .blogMaintext
                        .blogDate 17.09.2016
                        .blogDotted
                            img(src="../image/blogPage2Dotted.png", alt="dotted")
                        .blogText
                            .blogTitle 5 ОЧЕНЬ ДЛИННЫЙ ЗАГОЛОВОК
                            .blogDescriptio.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Aliquam et lectus et leo venenatis mollis eget eget justo. P.

                    .blockButton
                        button.buttonRead ЧИТАТЬ
                            img(src="../image/blog2pageBook.png", alt="book").imageFofButton_Book



            .blog2page_content_absoluteBlock
                .blockBlog_content
                    .blogContentImage
                        img(src="../image/blog2pageCloudImage3.png", alt="cloud1").blogCloudPhoto1
                    .blogMaintext
                        .blogDate 17.09.2016
                        .blogDotted
                            img(src="../image/blogPage2Dotted.png", alt="dotted")
                        .blogText
                            .blogTitle 6 ОЧЕНЬ ДЛИННЫЙ ЗАГОЛОВОК
                            .blogDescriptio.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Aliquam et lectus et leo venenatis mollis eget eget justo. P.

                    .blockButton
                        button.buttonRead ЧИТАТЬ
                            img(src="../image/blog2pageBook.png", alt="book").imageFofButton_Book







