header.header
    img(src="../image/logovector.png",alt="logo").header_logo
    .header_nav
        a(href="../index.html#1",data-index="1")
            .header_nav-text Главная
        a(href="../index.html#2",data-index="2")
            .header_nav-text О нас
        a(href="../index.html#3",data-index="3")
            .header_nav-text А что внутри?
        a(href="../index.html#4",data-index="4")
            .header_nav-text На связи
    .header_navigation-block
        .header__coins
            img(src="../image/insert-coin.png",alt="coins").header__coins_image
            button.header__coins_button
                .hover__button КУПИТЬ
        .header__icons
            a(href="#")
                .header_nav-text.active Бложек
            a(href="https://www.facebook.com/chikchirikkids/", target="_blank")
                .header_nav__icon.header_nav__icon-fb.first-icon
            a(href="https://www.instagram.com/chikchirikkids/",target="_blank")
                .header_nav__icon.header_nav__icon-instagram
            a(href="mailto:CHIKCHIRIKKIDS@GMAIL.COM", target="_blank")
                .header_nav__icon.header_nav__icon-mail
