.page1-desktop{
  align-items: center;
}
.desktop {
 // border: 1px solid red;
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100%;
  background: #76DFED;
  background: url(../image/back.png);
  display: flex;
  flex-direction: column;
  justify-content:center;
  &:nth-last-child{
    padding-bottom:0;
  }

  @include breakpoint(phone)  {
    height: 700px;
  }

  &.background-orange{
    background: #eda223;
  }
}
.link-for-deskto{
  position: absolute;
  top: 0;
}
  .content-desktop{
    padding-top:108px;
    padding-bottom:26px;
    width: 100%;
    flex:1 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include breakpoint(tablet)  {
      padding-top:80px;
    }
    @include breakpoint(phone)  {
      padding-top:108px;
    }
  }
    .desktop1__cloth1{
      position: absolute;
      top: 80px;
      right: -152px;
      width: 30%;
      z-index: 11;
    }
    .desktop1__cloth2{
      position: absolute;
      bottom: 104px;
      left: -58px;
      width: 22%;
      z-index: 5;
    }
    .desktop1__cloth3{
      position: absolute;
      top: 75px;
      left: 183px;
      width: 11.5%;
      z-index: 11;
    }
    .desktop1_content{

      margin-top: -72px;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      color:#fff;
      @include breakpoint(tablet)  {
        flex-direction: column;
      }
      @include breakpoint(phone)  {
        flex-direction: column;
      }
    }
      .desktop1__title{
        //width: 25%;
        width: 290px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        padding-left: 5px;
        .desktop1__title1{

          font-family: "UniSansThin";
          font-size:2.375rem ;
          line-height: 1;

        }
        .desktop1__title2{
          //font-family: "UniSansHeavy";
          font-family: "UniSansHeavy";
          font-size:4rem;
          line-height: 1;
          font-weight: bold;
        }
      }
    .striped-line{
      vertical-align: top;
      //
      width: 60px;
      height: 6px;
      margin:0 8px;
      overflow: hidden;
      line-height: 1px;
      @include breakpoint(tablet)  {
        width: 1px;
        height:30px;
        border-left: 3px dotted white;
      }
      @include breakpoint(phone)  {
        width: 1px;
        height:30px;
        border-left: 2px dotted white;
      }
    }
    .desktop1__box-photo{
    }
      .desktop1__image{
        box-shadow: 50px 30px 68px rgba(#000,0.2);
        width: 290px;
        @include breakpoint(tablet)  {
          width: 250px;
        }
        @include breakpoint(phone)  {
          width: 200px;
        }
      }
    .desktop1__description{
      align-self: flex-end;
      width: 290px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-family: "MullerRegular";
      font-size:0.875rem ;
      line-height: 1.125rem;
      position: relative;
      padding-right: 10px;
      @include breakpoint(tablet)  {
        align-self: center;
        width: 70%;
        position: relative;
        font-size:1.2rem;

      }
      @include breakpoint(phone)  {
        align-self: center;
        width: 70%;
        font-size:1.2rem;

      }
    }
    .desktop1__description__image{
      width: 60px;
      @include breakpoint(tablet)  {
        position: absolute;
        width: 50px;
        top: -38px;
        left: 0;
        display: none;
      }
      @include breakpoint(phone)  {
        position: absolute;
        width: 40px;
        top: -30px;
        left: 0;
        display: none;
      }
    }
.desktop1_learn-more{
  transition:  1s ;
  position: absolute;
  left: 50%;
  bottom:90px;
  transform: translate(-50%,-50%);
  width: 230px;
  height:45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #df8600;
  border-radius: 23px;
  border: none;
  font-family: "UniSansHeavy";
  font-size:1rem ;
  line-height: 1;
  color: #fff;
  padding:0 ;
  padding-left:30px;


  @include breakpoint(phone)  {
    width: 190px;
    height:40px;
    bottom:40px;
    border-radius: 20px;
  }

  &:hover{
    background-color: #fff ;
    color: #df8600;
    cursor: pointer;
  }
}
.learn-more-glass{
  position: absolute;
  left: 30px;
  bottom:-45px;
  width: 65px;
  transform: translate(-50%,-50%);

}
.learn-more__arrow_link{
  position: absolute;
  left: 50%;
  bottom:30px;
  transform: translate(-50%,-50%);
  @include breakpoint(phone)  {
    bottom:5px;
  }
}
.desktop1_learn-more__arrow{

  height: 28px;
  transition:  0.5s ;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  opacity: 0.7;
  width: 15px;
  @include breakpoint(phone)  {
    display: none;
  }
  &:hover{
    opacity: 1;
  }
  & img{
    width: 100%;
    height: 100%;;
  }
}