.content-desktop_page2{
  align-items: center;
  flex-direction: row;
  @include breakpoint(tablet)  {
    flex-direction: column;
  }
  @include breakpoint(phone)  {
    flex-direction: column;
  }
}
.image_logo_desktop2{
  width: 50%;
  max-width: 500px;
  display: flex;
  justify-content:flex-end;
  align-items: flex-start;
  @include breakpoint(tablet)  {
    width: 70%;
    justify-content:center;
    align-items: center;
  }
  @include breakpoint(phone)  {
    width: 70%;
    justify-content:center;
    align-items: center;
  }
  .image_desktop2{
    //width: 85%;
    height:auto ;
    width: 450px;
    @include breakpoint(tablet)  {
      width: 300px;
    }
    @include breakpoint(phone)  {
      width: 200px;
    }
  }

}
.desktop_page2_main-text{
  display: flex;
  flex-direction: column;
  width: 50%;
  color: #fff;
  padding-right: 60px;
  @include breakpoint(tablet)  {
    padding-right: 10px;
    width: 70%;
  }
  @include breakpoint(phone)  {
    padding-right: 10px;
    width: 90%;
  }
  max-width: 600px;
}
  .desktop_page2_main_block1{
    display: flex;
    flex-direction: column;

    .page2_main_block1-title1{
      font-family: "UniSansThin";
      font-size:3.25rem ;
      line-height: 0.87;
      margin-bottom: 5px;
      position: relative;
      max-width: 600px;

      @include breakpoint(phone)  {
        font-size:2rem ;
        margin-top:0;
      }

    }
    .page2_main_block1-title2{
      font-family: "UniSansHeavy";
      font-size:5.5rem ;
      line-height: 1.1;
      margin-bottom: 40px;
      @include breakpoint(phone)  {
        font-size:3rem ;
        margin-bottom: 0;
      }
    }
    .page2_bird_on_word{
      position: absolute;
      left:20%;
      top: -39px;
      @include breakpoint(phone)  {
        left: 17%;
        top: -42px;
        display: none;
      }
    }
  }
  .desktop_page2_main_block2 {
    margin-bottom: 45px;
    @include breakpoint(phone)  {
      margin-bottom: 15px;
    }
    //max-width: 580px;
  }
  .desktop_page2_main_block3{
      display: flex;
      font-family: "MullerRegular";
      font-size:0.875rem ;
      line-height: 1.125rem;
    text-align: left;
      //max-width: 580px;

      .page2_main_block3_text2{
        margin-left:50px;
      }

  }