.content-desktop_page5{
  justify-content: flex-end;
}

  .page5_info{
    width: 100%;
    position: relative;
    //border: 1px solid red;
    display: flex;
    align-items: flex-end;
    z-index:4;
    @include breakpoint(phone)  {
      flex-direction: column;
      align-items: flex-start;
    }
  }
    .page5_info_cloud-phone{
      margin-left: 108px;
      margin-bottom:50px;
      height: 195px;
      width:350px;
      background: url(../image/page5_cloudPhone.png);
      background-repeat: no-repeat;
      background-size: contain;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      color:#eda223;
      padding-left: 110px;
      padding-bottom:35px;
      @include breakpoint(tablet)  {
        margin-left: 5px;
      }
      @include breakpoint(phone)  {
        height: 160px;
        width:270px;
        margin-left: 5px;
        padding-left: 90px;
        margin-bottom: 30px;;
      }
    }
      .info_cloud-phone_number{
        transition: 0.5s;
        color:#eda223;
        font-family: "UniSansThin";
        font-size:1.2rem ;
        line-height: 1;
        &:hover{
          color:#4ab7c7;
          text-shadow: 4px 4px 5px #eda223;
        }
      }
      .info_cloud-phone_numberMain{
        transition: 0.5s;
        color:#eda223;
        font-family: "UniSansHeavy";
        font-size:2.2rem ;
        line-height: 1;
        font-weight: 900;
        &:hover{
          color:#4ab7c7;
          text-shadow: 4px 4px 5px #eda223;
        }
      }
    .page5_info_cloud-comp{
      margin-left: auto;
      margin-bottom:-80px;
      width:460px;
      height: 245px;
      background: url(../image/page5_comp_cloud.png);
      background-repeat: no-repeat;
      background-size: contain;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      color:#eda223;
      padding-left: 60px;
      padding-bottom:35px;
      @include breakpoint(phone)  {
        width:230px;
        height: 123px;
        padding-left: 20px;
        padding-bottom:10px;
        margin-left: 55px;
        margin-bottom:-10px;
      }
    }
      .info_cloud-comp_public {
        display: flex;
        align-items: flex-end;
        margin-left:115px;
        margin-bottom:10px;
        @include breakpoint(phone) {
          margin:0;
        }
        .comp_public_name {
          font-family: "UniSansHeavy";
          font-size: 1.25rem;
          line-height: 1;
          font-weight: 900;
          color: #4ab7c7;
          transition:  0.7s ;
          &:hover{
            color: #eda223;
            text-shadow: 5px 5px 5px #4ab7c7;

          }
        }
        .comp_public_point {
          width: 6px;
          height: 6px;
          color: #eda223;
          background: #eda223;
          border-radius: 3px;
          margin: 0 5px 7px 5px;

        }

      }
      .info_cloud-comp_mail {
        font-family: "UniSansHeavy";
        font-size: 1.5rem;
        line-height: 1;
        font-weight: 900;
        margin-bottom:30px;
        @include breakpoint(phone)  {
          margin-bottom:5px;
          font-size: 1.2rem;
          line-height: 1.2;
        }
      }


  .page5_map{
    background: #fff;
    position: relative;
    width: 100%;
    height: 45vh;

  //  border: 1px solid blue;
    .page5_map_background{
      width: 100%;
      height: 100%;
      background: url(../image/page5_maps1280.png);
      background-repeat: no-repeat;
      background-position: center top;
      opacity: 0.3;
      background-size: cover;
    }
  }
  .page5_map_mark{
    position: absolute;
    display: flex;
    align-items:center;
    z-index: 3;
    color: #eda223;
    .page5_map_mark1_adress{
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-transform: uppercase;
      font-family: "UniSansHeavy";

      line-height: 1;
      font-weight: 900;
      .text1{
        font-size: 1rem;
      }
      .text2{
        font-size: 1.3rem;
      }
    }
    &.mark1{
      left: 190px;
      top: 120px;
      @include breakpoint(phone)  {
        left: 50px;
        top: 10px;
      }
    }
    &.mark2{
      left: 580px;
      top: 160px;
      @include breakpoint(phone)  {
        left: 10px;
        top: 55px;
      }
    }
    &.mark3{
      left: 400px;
      top: 260px;
      @include breakpoint(phone)  {
        left: 30px;
        top: 100px;
      }
    }
  }
    //.page5_maps_adress_image{
    //  width: 100%;
    //}



.page5-footer_absolute{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}