.block__authorithation{
  display: flex;
  flex-direction: column;
  margin:0 auto;
  width:200px;
}
.authorithation__input{

  border: none;
  border-radius: 10px;
}
.authorithation_buttonEnter{
  width: 200px;
  height: 40px;
  font-family: "UniSansHeavy";
  font-size:20px ;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #df8600;
  border-radius: 20px;
  line-height: 40px;
  color: #fff;
  padding: 0;
  cursor: pointer;
}
.blockButtonAuthorization{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}