.blogDesktop1__cloth1{
  position: absolute;
  bottom: 64px;
  left: -58px;
  width: 20%;
  z-index: 5;
}
.blogDesktop1__cloth2{
  position: absolute;
  top: 104px;
  left: 184px;
  width: 10%;
  z-index: 11;
}
.blogPage1__image{
  box-shadow: 50px 30px 68px rgba(#000,0.2);
  width: 290px;
  @include breakpoint(point1024)  {
    width: 200px;
  }
  @include breakpoint(tablet)  {
    width: 150px;
  }
  @include breakpoint(phone)  {
    width: 125px;
  }
}
.blogDesktop1_title{
  //z-index: 10;
  @include breakpoint(tablet)  {
    margin-top: 30px;
  }
  @include breakpoint(phone)  {
    margin-top: 50px;
  }
}
.blogDesktop1__title3{

  @include breakpoint(tablet)  {
    width: 250px;
  }
  @include breakpoint(phone)  {
    width: 215px;
  }

}
.stripedLineBlog{
  @include breakpoint(point1024){
    width: 50px;
  }
  @include breakpoint(tablet)  {
    width: 1px;
  }
  @include breakpoint(phone)  {
    display: none;
  }
}
.blogBlogForm{
  width:29%;

  min-width: 300px;
  max-width: 380px;
}
.block2Input{
  display:flex;
  width: 100%;
  justify-content: space-between;
}
.textInput{
  text-align: center;
  font-family: "UniSansHeavy";
  font-size:1rem ;
  color:rgba(#4ab7c7,.5);
  padding-top:3px;
  border: none;
  line-height: 2.5rem;
  width: 100%;
  margin-bottom:22px;
  @include breakpoint(tablet)  {
    font-size:1rem ;
    line-height: 1.5rem;
    margin-bottom:12px;
  }

  @include breakpoint(phone)  {
    font-size:1rem ;
    line-height: 1.5rem;
    margin-bottom:15px;
  }
}
.inputEmail, .inputTelephone{
  width: 45%;
}

.blogDesktop1Button{
  margin-left:auto;
  transition:  1s ;
  position: relative;
  width: 230px;
  height:45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #df8600;
  border-radius: 23px;
  border: none;
  font-family: "UniSansHeavy";
  font-size:1rem ;
  line-height: 1;
  color: #fff;
  padding:0 ;
  padding-left:40px;
  margin-top: 22px;

  &:hover{
    background-color: #fff ;
    color: #df8600;
    cursor: pointer;
  }

  @include breakpoint(tablet)  {
    width: 210px;
    height:40px;
    border-radius: 20px;
    margin-top: 10px;
  }

  @include breakpoint(phone)  {
    width: 190px;
    height:40px;
    border-radius: 20px;
    margin-top: 10px;
  }
}
.kassa_image-button{

  position: absolute;
  left: -6px;
  top: 17px;
  transform: translate(0,-50%);
  width: 70px;
  font-family: "UniSansHeavy";
  font-size:1rem ;

}