.blog2pageImageCloud1{
  position: absolute;
  top: 145px;
  left: 33%;
  width: 16%;
  opacity:0.3;
}
.blog2pageImageCloud2{
  position: absolute;
  top: 212px;
  right: 3%;
  width: 21%;
  opacity:0.5;
}
.blog2pageImageTreeCloud{
  position: absolute;
  bottom: -83px;
  left: 14%;
  width: 22%;
}
.blog2pageImageTree{
  position: absolute;
  bottom: -135px;
  right: -6%;
  width: 25%;
  opacity:0.5;
}
.block_for_arrow{
  position: absolute;
  transform: translate(-50%,-50%);
  bottom: 10px;
  left:50%;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  width:140px;
  @include breakpoint(phone)  {
    width: 80px;
  }
}
.blogPage2_arrow{
  transition: opacity 0.8s ;
  width: 60px;
  transform: translate(0,-50%);
  opacity: 0.7;
  @include breakpoint(phone)  {
    width: 30px;
  }
  &:hover{
    cursor: pointer;
    opacity: 1;
  }
}

