footer.footer
    .footer-text1.
         © 2016 chikchirik tm
    .footer-text2
        a(href="http://kzmr.com.ua/",target="_blank")
            .footer-text2_ExtraBold KZMR
        a(href="http://kzmr.com.ua/",target="_blank")
            .footer-text2_MullerRegular Prod.
