


@font-face {
  font-family: "MullerExtraBold";
  src: url("../fonts/MullerExtraBold.otf");
  //src: url("../fonts/MullerExtraBold/MullerExtraBold.eot");
  //url("../fonts/MullerExtraBold/MullerExtraBold.woff") format("woff"),
  //url("../fonts/MullerExtraBold/MullerExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MullerRegular";
  src: url("../fonts/MullerRegular.otf");
  //src: url("../fonts/MullerExtraBold/MullerRegular.eot");
  //url("../fonts/MullerExtraBold/MullerRegular.woff") format("woff"),
  //url("../fonts/MullerExtraBold/MullerRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "UniSansHeavy";
  src: url("../fonts/uni-sans.heavy-caps.otf");
  //src: url("../fonts/UniSansHeavy.otf"); //рабочий шрифт от оли
  //src: url("../fonts/MullerExtraBold/UniSansHeavy.eot");
  //url("../fonts/MullerExtraBold/UniSansHeavy.woff") format("woff"),
  //url("../fonts/MullerExtraBold/UniSansHeavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "UniSansThin";
  src: url("../fonts/uni-sans.thin-caps.otf");
  //src: url("../fonts/UniSansThin.otf"); //рабочий шрифт от оли
  //src: url("../fonts/MullerExtraBold/UniSansThin.eot");
  //url("../fonts/MullerExtraBold/UniSansThin.woff") format("woff"),
  //url("../fonts/MullerExtraBold/UniSansThin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}